//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 26 10:05:09 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "P6_leds<0>" LOCATE = SITE "T3" LEVEL 1;
COMP "BTN_EAST" LOCATE = SITE "K18" LEVEL 1;
COMP "P6_leds<1>" LOCATE = SITE "R3" LEVEL 1;
COMP "P6_leds<2>" LOCATE = SITE "V5" LEVEL 1;
COMP "P6_leds<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "P8_leds<0>" LOCATE = SITE "V11" LEVEL 1;
COMP "P6_leds<4>" LOCATE = SITE "V4" LEVEL 1;
COMP "P8_leds<1>" LOCATE = SITE "U11" LEVEL 1;
COMP "P6_leds<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "P8_leds<2>" LOCATE = SITE "V13" LEVEL 1;
COMP "P6_leds<6>" LOCATE = SITE "V7" LEVEL 1;
COMP "P8_leds<3>" LOCATE = SITE "U13" LEVEL 1;
COMP "P6_leds<7>" LOCATE = SITE "U7" LEVEL 1;
COMP "P8_leds<4>" LOCATE = SITE "T10" LEVEL 1;
COMP "P8_leds<5>" LOCATE = SITE "R10" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "T18" LEVEL 1;
COMP "P8_leds<6>" LOCATE = SITE "T11" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "T17" LEVEL 1;
COMP "P8_leds<7>" LOCATE = SITE "R11" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U18" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "U17" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "N16" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "Switch_0" LOCATE = SITE "D18" LEVEL 1;
COMP "Switch_1" LOCATE = SITE "D17" LEVEL 1;
COMP "Switch_2" LOCATE = SITE "C18" LEVEL 1;
COMP "Switch_3" LOCATE = SITE "C17" LEVEL 1;
COMP "P7_leds<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "P7_leds<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "P7_leds<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "P7_leds<3>" LOCATE = SITE "R5" LEVEL 1;
COMP "P9_leds<0>" LOCATE = SITE "L16" LEVEL 1;
COMP "clock_pos" LOCATE = SITE "P15" LEVEL 1;
COMP "P7_leds<4>" LOCATE = SITE "T8" LEVEL 1;
COMP "P9_leds<1>" LOCATE = SITE "L15" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
COMP "P7_leds<5>" LOCATE = SITE "R8" LEVEL 1;
COMP "P9_leds<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "P7_leds<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "P9_leds<3>" LOCATE = SITE "K15" LEVEL 1;
COMP "P7_leds<7>" LOCATE = SITE "U8" LEVEL 1;
COMP "P9_leds<4>" LOCATE = SITE "J18" LEVEL 1;
COMP "P9_leds<5>" LOCATE = SITE "J16" LEVEL 1;
COMP "P9_leds<6>" LOCATE = SITE "H18" LEVEL 1;
COMP "P9_leds<7>" LOCATE = SITE "H17" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

